

/* CSS: all pages */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;900&display=swap');

html {
    font-size: 16px;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #fff;
}

section, header, footer {
    width: 95%;
    max-width: 1200px;
    padding: 10px;
    margin: 5px auto;
}

a {
    /* override auto link css in browser */
    text-decoration: none;
    color: black;
}

footer {
    font-size: .75rem;
}

/* HEADER FORMATTING */

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#logo {
    width: 100px;
    height: 100px; 
    margin-right: 10px;
}

#logo:hover {
    filter: invert(100%);
}

.social-icon {
    width: 25px;
    height: 25px;
}

.social-icon:hover {
    border-color: 1px solid #000000;

}

#social-block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.nav-button, .cta-button {
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

.nav-button {
    width: 65px;
    background-color: #bde0f3;
}

#nav-block {
    height: 70%;
    font-size: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* BANNER FORMATTING */

#hero {
    padding: 15px;
    margin: 2px;
    border: 1px solid lightgray;
    text-align: center;
    background-color: #bde0f3;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    margin: auto;
}

.large {
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 20px;
    margin: auto;
}

.cta-button {
    margin: auto;
    background-color: white;
    line-height: 1rem;
}

.button-link {
    padding: 5px 5px;
}

.button-link:hover {
    color: #fff;
}

.cta-button:hover, .nav-button:hover {
    background-color: #000000;
    transition: all 0.5s;
}

/* CSS: HOMEPAGE ONLY */

/* CARD FORMATTING */

#body-homepage #kristy-toon {
        object-fit: cover;
    }

#body-homepage .card-icon {
    width: 15vh;
    max-width: 120px;
    margin: 5px;
}
#body-homepage .card-container {
    width: 100%;
    padding: 0;
    text-align: center;
    /* display: inline-flex;
    flex-wrap: wrap;
    justify-content: center; */
    /* gap: 2vh; */
}
#body-homepage .card-row {
    width: 95%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
#body-homepage .card {
    display: flex;
    align-items: center;
}
#body-homepage h2 {
    font-size: 1.3rem;
    margin-block-start: .5em;
    margin-block-end: .5em;
    /* text-decoration: none; */
}
#body-homepage h2:hover, #body-contact h3:hover {
    color: #fff;
    font-weight: 600;
    border-radius: 10px;;
    background-color: #F2951D;
}


/* MEDIA QUERIES */

/* Breakpoints
  small phone min 320px | default | eg iphone 5
  large phone max 600px
  tablet phone max 768px
  tablet and small desktop max 1024px */

@media (min-width: 600px) {
    html {
        font-size: 18px;
    }

    /* remove row formatting */
    .nav-row {
        display: contents;
    }
    
    #body-homepage .card-row {
        display:contents
        }   

    /* format as whole flexbox */
    #body-homepage .card-container {
        width: 100%;
        padding: 0;
        margin: 0;
        display: inline-flex;
        justify-content: space-around;
        gap: 1vh;
        }

    #body-homepage .card-icon {
        max-width: 130px;
    }

@media (min-width: 768px) {
    html {
        font-size: 19px;
    }

    #body-homepage .card-icon {
            width: 18vh;
            max-width: 150px;
        }
    }

@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }

    #body-homepage .card-container {
        gap: 5vh;
        }
    #body-homepage .card-icon {
            width: 25vh;
            max-width: 200px;
        }
    #body-homepage #card-box {
            max-width: 1200px;
        }
    }


