
/* -------------- CSS: all pages -------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html {
    font-size: 17px;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #fff;
}

section, header, footer {
    width: 95%;
    max-width: 1300px;
    padding: 10px;
    margin: 5px auto;
}

a {
    /* override auto link css in browser */
    text-decoration: none;
    color: black;
}

footer {
    font-size: .75rem;
}

/* HEADER FORMATTING */

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#logo {
    width: 70px;
    height: 70px; 
    margin-right: 10px;
}

#logo:hover {
    filter: invert(100%);
}

#logo {
    width: 80px;
    height: 80px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



.social-icon {
    width: 25px;
    height: 25px;
}

.social-icon:hover, #body-contact .connect-icon:hover {
        animation: gelatine 0.5s infinite;
}

@keyframes gelatine {
        from, to { transform: scale(1, 1); }
        25% { transform: scale(0.9, 1.1); }
        50% { transform: scale(1.1, 0.9); }
        75% { transform: scale(0.95, 1.05); }
}

.social-icon:hover {
    border-color: 1px solid #000000;

}

#social-block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.nav-button, .cta-button {
    padding: 5px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: .9rem;
}

.nav-button {
    width: 80px;
    background-color: #bde0f3;
}

#nav-block {
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}



/* BANNER FORMATTING */

#hero {
    padding: 15px;
    margin: 2px;
    border: 1px solid lightgray;
    text-align: center;
    background-color: #bde0f3;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    margin: auto;
}

.large {
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 20px;
    margin: auto;
}

.cta-button {
    margin: auto;
    background-color: white;
    line-height: 1rem;
}

.button-link {
    padding: 5px;
}

.button-link:hover {
    color: #fff;
}

.cta-button:hover, .nav-button:hover {
    background-color: #000000;
    transition: all 0.5s;
}

/* -------------- CSS: HOMEPAGE & ABOUT --------------  */

/* CARD FORMATTING */

#body-homepage #kristy-toon, #body-projects .project-icon {
    object-fit: cover;
    }

.icon-animate:hover {
    filter: invert(72%) sepia(75%) saturate(2949%) hue-rotate(349deg) brightness(100%) contrast(91%);
}

#kristy-toon, .icon-animate {
    animation: hithere 3s ease infinite;
}
@keyframes hithere {
    30% { transform: scale(1.05); }
    40%, 60% { transform: rotate(-20deg) scale(1.05); }
    50% { transform: rotate(20deg) scale(1.05); }
    70% { transform: rotate(0deg) scale(1.05); }
    100% { transform: scale(1.05); }
}

#body-homepage .card-icon, #body-contact .connect-icon {
    width: 15vh;
    margin: 5px;
    max-width: 120px;
}

#body-about .skills-icon, #body-about .certs-icon {
    height: 15vh;
    margin: 2px;
}

#body-about .skills-icon {
    max-height: 90px;
}

#body-about .certs-icon {
    max-height: 120px;
}

#body-projects .project-icon {
    margin:15px;
    width: 300px;
    box-shadow: 0px 4px 5px 0 lightgray,0px 6px 20px 0 lightgray;
}

#body-homepage .card-container, #body-about .skills-container, #body-about .certs-container, #body-contact .connect-container, #body-projects .project-container {
    width: 100%;
    padding: 0;
    text-align: center;
}
#body-homepage .card-row, #body-about .skills-row, #body-about .certs-row, #body-contact .connect-row, #body-projects .project-row {
    width: 95%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
#body-homepage .card, #body-about .skills-icon, #body-about .certs-icon, #body-contact .connect-icon {
    display: flex;
    align-items: center;
}
#body-homepage h2, #body-about h2, #body-contact h3, #body-projects h2 {
    font-size: 1.5rem;
    margin-block-start: .5em;
    margin-block-end: .5em;
}

#body-homepage h2:hover, #body-contact h3:hover {
    color: #fff;
    font-weight: 600;
    border-radius: 10px;;
    background-color: #F2951D;
}

#body-projects .tech-block img {
    height: 30px;
    margin: 3px;
}


/* -------------- CSS: ABOUT & CONTACT PAGES --------------  */

/* CARD FORMATTING */

#body-about .card-icon {
    width: 30vh;
}

#body-about .about-container {
    width: 100%;
    padding: 0;
    text-align: center;
}

#body-about #skills-block h2, #body-contact h2 {
    text-align: center;
}

/* -------------- CSS: CONTACT PAGE ONLY --------------  */

/* FORM FORMATTING */


#contact-block {
    border: 2px dotted gray;
    border-radius: 60px;
    padding: 20px;
    /* FIX */
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item label {
    flex-basis: 100px;
    font-size: 1.1rem;
    font-weight: 600;
}

.form-item input,
.form-item textarea {
    flex-basis: 60%;
    border: 2px solid #bde0f3;
    border-radius: 10px;
    margin: 10px;
    min-width: 100px;
}

.form-item input:hover,
.form-item textarea:hover {
    background-color: #bde0f3;
    opacity: 50%;
}

.form-item input,
.form-item textarea { 
    border: 2px solid #000000;
    background-color: #FFF;
    padding: 5px;
    font-size: 1rem;
}

#form-button {
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    background-color: #000000;
    color: #FFF;
    border-radius: 10px;
}

#form-button:hover {
    opacity: 50%;
    transition: all 0.5s;
    cursor:pointer;
}


/* -------------- MEDIA QUERIES --------------  */

/* Breakpoints
  small phone min 320px | default | eg iphone 5
  large phone max 600px
  tablet phone max 768px
  tablet and small desktop max 1024px
  max width */

@media (min-width: 600px) {
    html {
        font-size: 18px;
    }

    #body-homepage .card-row, #body-about .skills-row, #body-about .certs-row, #body-contact .connect-row {
        display:contents;
        }   
    
    .header-link-block {
        width: 60%;
    }

    nav, .nav-row  {
        display: flex;
        flex-grow: 1;
    }

    .nav-button {
        flex-grow: 1;
        margin: 7px;
    }

    #body-homepage .card-container, #body-about .skills-container, #body-about .certs-container, #body-contact .connect-container {
        width: 100%;
        padding: 0;
        margin: 0;
        display: inline-flex;
        justify-content: space-around;
        gap: 1vh;
        }
    
    #body-projects .project-card {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        justify-content: space-around;
        gap: 1vh;
        }

    #body-projects .project-icon {
        align-self: center;
    }

    #body-homepage .card-icon, #body-contact .connect-icon {
        max-width: 130px;
    }

    #body-about .skills-icon  {
        max-height: 60px;
        padding-bottom: 20px;
    }

    #body-about .certs-icon {
        max-height: 100px;
    }

}

@media (min-width: 768px) {
    html {
        font-size: 19px;
    }

    #logo {
        width: 90px;
        height: 90px;
    }

    #body-homepage .card-icon, #body-contact #connect-icon {
        width: 18vh;
        max-width: 140px;
        }
    
    #body-about .skills-icon  {
        max-height: 80px;
    }

    #body-about .certs-icon {
        max-height: 120px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 20px;
    }

    #logo {
        width: 100px;
        height: 100px;
    }

    #body-homepage .card-container {
        gap: 5vh;
        }
    #body-homepage .card-icon, #body-contact .connect-icon {
        width: 25vh;
        max-width: 150px;
        }
    
    #body-about .skills-icon  {
        max-height: 100px;
    }

    #body-about .certs-icon {
        max-height: 140px;
    }

    #body-homepage #card-block, #body-about #skills-block, #body-contact #connect-block, #body-projects #project-block {
        max-width: 1300px;
        }
}